*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Oxanium';
}
:root{
    --primary-color: #09203f;
    --secondary-color : #ec801d; 
    --third-color : #E8ECEC;
}
html{
    scroll-behavior: smooth;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

/*start header*/
header{
    background: linear-gradient(90deg, #09203F 0%, #537895 100%);
    height: 70px;
}

/*START menu*/

ul.menu {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
    border: #b5bdc4 solid 2px;
    border-radius: 3px; 
    
    position: absolute;
    left: -240px; /* Initially position the menu off-screen */
    width: 240px;
    background-color: #f1f1f1;
    transition: left 0.3s ease; /* Add transition effect */
    z-index: 4;
    height: 100vh ;
    flex-direction: column;
   
  }
  
  ul.menu.open {
    left: 0; /* Move the menu into the view */
  }
  
  ul.menu li {
    display: block;
    margin: 10px 0;
    padding-left: 5px;
  }
  ul.menu li:hover
  {
    cursor: pointer;
  }
  
  ul.menu li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;
    align-self: flex-start;
  }
  
  ul.menu li a:hover {
    background-color: #333;
    color: #fff;
  }
  #menu-button
  {
    width: 65px;
   align-self: center;
  }
  ul , ol
  {
    padding: 10px;
  }
  .topMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/*END menu*/


.PROFILE{
    display: flex;
    padding-right: 0;
}

.PROFILE p{
    color: #E8ECEC; 
    margin-bottom: 0;
}

.profile-image-in-header{
    border-radius: 100px;
    border: 2px solid #ec801d; 
    margin-right: 10px;
}

@media (max-width:766px){
    .PROFILE p{
        display: none;
    }
}

/*end header*/
/*Start Section*/

section{
    margin-top: 20px;
}
.Add-users{
    background-image: url(../svg/App-property.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: 95%;
    background-position-y: 50%;
    width: 30vh;
    height: 6vh;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    text-align: start;
}

section{
    margin-top: 30px;
}

input{
    background-color: var(--third-color);
    border-radius: 10px;
    border: 2px solid #09203f;
    height: 35px;
    text-align: center;
}
label{
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-color);
    text-align: center;
}

/*Tenant*/
.Delete{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    height: 45px;
}
.Update{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: none;
    height: 45px;
}
.infornation-row{
    margin-top: 50px;
    margin-bottom: 10px;
}
.infornation-row p, .infornation-row h5{
    margin-bottom: 0;
}
/*Tenant*/
/*Owaner*/
.Show-properties{
    border-radius: 5px;
    border: none;
    background-color: var(--third-color);
    height: 45px;
}

@media (max-width: 992px){
    .infornation-row button{
        margin-top: 10px;
        height: 50px;
    }
    .infornation-row p{
        margin-top: 10px;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
/*Owaner*/
/*End Section*/