*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Oxanium';
}
:root{
    --primary-color: #09203f;
    --secondary-color : #ec801d; 
    --third-color : #E8ECEC;
}
html{
    scroll-behavior: smooth;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

/*start header*/
header{
    background: linear-gradient(90deg, #09203F 0%, #537895 100%);
    height: 70px;
}

/*START menu*/

ul.menu {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
    border: #b5bdc4 solid 2px;
    border-radius: 3px; 
    
    position: absolute;
    left: -240px; /* Initially position the menu off-screen */
    width: 240px;
    background-color: #f1f1f1;
    transition: left 0.3s ease; /* Add transition effect */
    z-index: 4;
    height: 100vh ;
    flex-direction: column;
   
  }
  
  ul.menu.open {
    left: 0; /* Move the menu into the view */
  }
  
  ul.menu li {
    display: block;
    margin: 10px 0;
    padding-left: 5px;
  }
  ul.menu li:hover
  {
    cursor: pointer;
  }
  
  ul.menu li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;
    align-self: flex-start;
  }
  
  ul.menu li a:hover {
    background-color: #333;
    color: #fff;
  }
  #menu-button
  {
    width: 65px;
   align-self: center;
  }
  ul , ol
  {
    padding: 10px;
  }
  .topMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/*END menu*/


.PROFILE{
    display: flex;
    padding-right: 0;
}

.PROFILE p{
    color: #E8ECEC; 
    margin-bottom: 0;
}

.profile-image-in-header{
    border-radius: 100px;
    border: 2px solid #ec801d; 
    margin-right: 10px;
}

@media (max-width:766px){
    .PROFILE p{
        display: none;
    }
}

/*end header*/

section{
    margin-top: 30px;
}

#map{
    width: 100%;
    height: 100%;
}

.mapContainer{
    width:100%;
    height: 90%;
    padding: 5px;
    background: var(--secondary-color);
}
.direction-link {
    position: absolute;
    z-index: 1;

    color: var(--third-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    padding: 8px 20px;
    background: var(--secondary-color);
}
.mapContainer a.direction-link:hover {
    text-decoration: none;
    background: var(--main-color);
    color: var(--third-color);
}

hr{
    margin: 0;
    padding: 0;
    height: 12px;
    color: black;
}
.infornation{
    margin: 0;
}
input{
    background-color: var(--third-color);
    border-radius: 10px;
    border: 2px solid #09203f;
    height: 35px;
    text-align: center;
}
label{
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-color);
    text-align: center;
}
.left-side{
    margin-right: 10px; 
    height: 80vh;
}
@media (max-width:992px){
    .right-side{
        margin-top: 40px;
        height: 500px;
    }
    .left-side{
        margin-right: 0;
    }
}

.Add-prop{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 30vh; 
    height: 50px;
    border: none;
    border-radius: 5px; 
    color: white;
    background-color: var(--secondary-color);
}

/*CARDS here*/

.card {
    width: 32%;
    height: 45%;
    position: relative;
    border-radius: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    
}
.Delete-and-Update{
    margin-top: 20px;
    display: flex; 
    justify-content: space-around;
}
.Delete-button{
    background-image: url(./svg/Delete.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: 8%;
    background-position-y: 50%;
    width: 100%; 
    height: 40px; 
    border-radius: 10px; 
    background-color: #ec801d; 
    color: white; 
    border: none;
}
.Delete-button:hover{
    background-color: #f19239; 
}

.card_image{
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
    margin: 0;
}
.Description {
    background: var(--third-color);
    padding: 10px;
    border-radius: 0 0 16px 16px;
}

.Description p{
    font-size: 17px;
}

.desrciption {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content{
    margin: 16px;
}

.content p{
    margin-bottom: 0;
    font-weight: 700;
}

@media (max-width : 1070px)
{
    .card{
        width: 49%;
    }
}
@media (max-width : 768px)
{
    .card{
        width: 100%;
    }
}
/*End card*/
/*end body*/


