
:root{
    --main-color: #09203F;
    --secondary-color: #EC801D;
    --third-color: #f5f4f4;
    --fourth-color: #537895c9;
    --hover-color:#eaebf3;
    --linear-color: linear-gradient(90deg, #09203F 0%, #537895 100%);
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Oxanium';
    transition-duration: 0.25s;
}
::-ms-reveal {
    display: none;
}
html{
    scroll-behavior: smooth;
    height: 100vh;
}


body{
    margin: 0;
    overflow: hidden;
    min-height: 100%;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.hide{
    visibility: hidden;
}
.erase{
    display: none;
}



/* Start searchbar */

.searchbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    box-shadow: 5px 10px 18px #b8b8b9;

}


.searchbox{
    height:44px;
    width:45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: #09203f2c solid 2px;
    border-radius: 5px;
    min-width: 200px;
}
.search{
    font-size: 16px;
    font-weight: 500;
    text-indent: 5px;
    width: 90%;
    height: 100%;
    border: none;
    outline: unset;
    background: unset;
    color: var(--fourth-color);
}
.searchbox .search-icon{
    height: 100%;
    padding: 3px;
    border-radius: 4px;
}
.searchbox .search-icon:hover{
    background: var(--hover-color);
}

.selections{
    display: flex;
    justify-content: space-between;

    width: 50%;
    padding: 0;
}

.choose, .filterButton{
    width: 32%;
    background: white;
    font-size: 16px;
    font-weight: 500;
    color: var(--fourth-color);
    border: #09203f2c solid 2px;
    text-align: center;
    border-radius: 5px;
    height: 44px;
}
.filterButton{
    display: flex;
    justify-content: center;
    align-items: center;

}
.filterButton:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--third-color);
}
.filterButton .icon{
    margin-top: -5px;
}
.choose, .icon:hover{
    cursor: pointer;
}


.filtersList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;

    font-size: 16px;
    font-weight: 500;
}
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    border: #ec811d2f solid 2px;
    text-align: center;
    border-radius: 5px;
    padding: 4px 5px;
    height: fit-content;
    margin-right: 10px;
    min-width: 35px;
}
.filter:hover{
    cursor: pointer;
    background: var(--secondary-color);
    color: white;
}

.filterDescription{
    margin: auto;
}
.filter .icon{
    width: 20%;
    margin: auto 0;
}
.clearAll{
    margin-left: 10px;
    color: var(--secondary-color);
}
.clearAll:hover{
    cursor: pointer
}
select:hover{
    cursor: pointer;
}

.sort{
    background: var(--third-color);
    border: #09203f2c solid 2px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 100%;
    height:44px;
}
.sort .noProperties{
    color: var(--fourth-color);
    font-size: 16px;
    font-weight: 500;
    text-indent: 5px;
}
.sort .noProperties::after{
    content: ' Properties.';
    color: var(--fourth-color);
}

.sort .sortBy{
    background: white;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    border: none;
    text-align: center;
    height: 100%;
    background: unset;
}
.sort .divSortBy{
    width: 40%;
}
.sort .divSortBy::before{
    content: 'Sort by:';
    color: var(--fourth-color);
}


@media (max-width: 600px){
    .searchbar{
        position: relative;
    }
    
    .searchbox .selections{
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 850px){
    .selections{
        width: 32%;
        margin: 0;
    }
    .searchbox{
        width: 45%;
        margin: 0;;
    }
}

@media (max-width: 1100px){
    .searchbox ,.selections{
        width: 100%;
        margin: 10px 0;
        padding: 0;
    }
}

/* End searchbar */


/* Start cards */
.cardsSection{
    float: left;
    width: 50%;
}

.cards{
    overflow-y: scroll;
    height: calc(100vh - 280px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: -1;
}

.card{
    width: 49%;
    position: relative;
    border-radius: 16px;
    margin-bottom: 20px;
    overflow: hidden;
}

.likeButton{
    position: absolute;
    top: 8px;
    right: 16px;
    background: var(--third-color);
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    z-index: 2;
}
.likeButton:hover{
    cursor: pointer;
}
.like{
    margin-bottom: -2px;
}


.photo{
    width: 100%;
    height: 45%;
    border-radius: 16px 16px 0 0; 
    margin: 0;
    transition-duration: 0.6s;
}
.photo:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.innerCard{
    margin: -5px 0 0 0;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 55%;
    background: unset;
    padding: 10px;
    border-radius: 0 0 16px 16px;
    border: #09203f23 solid 1px;
}
.desrciption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.desrciption:hover{
    cursor: pointer;
}

.desrciption p{
    margin:8px;
}
.desrciption .price{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    width: 50%;
}
.desrciption .name{
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
}
.desrciption .location, .desrciption .beds{
    font-size: 16px;
    color: #09203fb6
}
.name, .location, .beds{
    width: 100%;
}



.buttonDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cardButton{
    width:48%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
}
.card .phone{
    border: var(--main-color) solid 3px;
    color: var(--main-color);
    background: white;
}
.card .phone:hover{
    background: #abafce;
    cursor: pointer;

}
.card .email{
    border: none;
    color: white;
    background: var(--main-color);
}
.card .email:hover{
    background: #174075;
    cursor: pointer;
}

.card .rent{
    border: none;
    color: white;
    background: var(--secondary-color);
    width: 100%;
    justify-content: space-evenly;
    font-size: 24px;
    align-self: center;
}
.card .rent:hover{
    cursor: pointer;
    background: #ff932e;
}

@media (max-width: 1000px){
    .card{
        width: 100%;
    }
}
@media (max-width: 850px){
    body{
        overflow:unset;
    }
    .cards{
        overflow:visible;
    }
    .card{
        width: 49%;
    }
}
@media (max-width: 500px){
    .card{
        width: 100%;
    }
}
/* End cards */




/* Start map */
#map{
    width: 100%;
    height: 100%;
}

.mapContainer{
    position: fixed;
    right: 0;
    width:50%;
    height: 100%;
    
    height: calc(100vh - 80px);
    padding: 5px;
    background: var(--secondary-color);
}
.mapContainer a.direction-link {
    position: absolute;
    top: 15px;
    right: 60px;
    z-index: 1;
    color: var(--third-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    padding: 8px 20px;
    background: var(--secondary-color);
}
.mapContainer a.direction-link:hover {
    text-decoration: none;
    background: var(--main-color);
    color: var(--third-color);
}

@media (max-width: 850px){
    .mapContainer{
        display: none;
    }
    .cardsSection{
        width: 100%;
    }
}
/* End map */



/* Start footer */

.footer{
    background: var(--linear-color);
    color: var(--third-color);
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    bottom: 0;
    z-index: -1;
}

.footer span{
    color: var(--secondary-color);
}
/* End footer */

